html {
    overflow-y: scroll;
    font-style:italic;
    font-family:Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color:rgb(232, 237, 240);
}
.header-logo__title {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0.8em 0 0.3em;
    text-transform: uppercase;
}

nav {
    border-bottom: 2px solid lightgray;
    background-color:rgba(24, 24, 36);
   color:cornsilk;
    
}

a.nav-link{
    color:cornsilk;
}
a.nav-link:hover{
    color:cyan;
}

#cities{
border:rgb(131, 132, 133) solid 2px;
    background-color:rgba(235, 235, 235, 0.678);
    border-radius:1em;
    padding-left:5em;
}
#cities:hover{
    background-color:rgba(21, 87, 104, 0.603);
}

footer{
    background-color:rgba(24, 24, 36);
    color:cornsilk;
    margin-top:2em;
    text-align:center;
    margin-bottom:null;
}




#widget {
    border: 2px solid lightgray;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    color:white;
    margin-top:6em;
    background-color:rgba(21, 87, 104, 0.603);
}

#widget img {
    max-width: 100%;
}

.item {
    padding: 1em;
    background-image: url('../images/clouds.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0.5em;
}


.item--city {
    font-weight: bold;
}

.item--bg-clouds {
    background-image: url('../images/clouds.png');
}

.item--bg-rain {
    background-image: url('../images/rain.png');
}

.item--bg-shower {
    background-image: url('../images/shower.png');
}

.item--bg-snow {
    background-image: url('../images/snow.png');
}

.item--bg-storm {
    background-image: url('../images/storm.png');
}

.item--bg-sun-cloud {
    background-image: url('../images/sun-cloud.png');
}

.item--bg-sun {
    background-image: url('../images/sun.png');
}
.info{
    padding: 1em;
   
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 19em;
    border:rgb(131, 132, 133) solid 2px;
    background-color:rgba(235, 235, 235, 0.678);
    border-radius:1em;
    padding-left:5em;
    margin-top:3em;
    padding-bottom:5em;

}