<!DOCTYPE html>
<html>
    <head>
        <!-- Balises pour le responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Bienvenue sur la météo des villes !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Notre CSS custom -->
    <link rel="stylesheet" href="{{asset('css/app.css')}}">

    </head>
  <body class="mb-5">
    <nav class="container py-3 mb-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="{{path('home')}}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{path('mountain')}}">Montagne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{path('beaches')}}">Plages</a>
            </li>
        </ul>
    </nav>

    <!-- Minimal responsive + columns -->
    <main class="container">
        <div class="row">

    {% block body %}{% endblock %}


    <!-- Sidebar (le widget) -->
            <div class="col-3">

                <!-- Code du widget -->
                <div id="widget">

                    <!-- Si ville sélectionnée -->
                    <p><b>Bordeaux</b></p>
                    <p>29-01-2020</p>
                    <p><img src="images/sun-cloud.png"></p>
                    <p>0°C / 10°C</p>

                    <!-- Si ville non sélectionnée -->
                    <div>Sélectionnez une ville<br>dans la liste de gauche</div>

                </div>

            </div>
        </div>
    </main>
   

</body>

</html>



            